@font-face {
    font-family: 'pyrmont_brewery';
    src: local('pyrmont_brewery'), url(./pyrmont_brewery.woff2) format('woff2');
}

html {
    background-color: #241b0c;
    font-family: 'pyrmont_brewery';
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    overflow-x: hidden;
    scroll-padding-top: 15vh;
    overflow-y: scroll;
}

.tvsimulator {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    pointer-events: none;
    background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0.9) 4px);
    background-size: 100% 2px;
}
span {
    width: 95%;
    justify-content: left;
    align-items: left;
    font-family: 'pyrmont_brewery';
    position: relative;
    padding: 5px 5px 5px 5px;
}

p {
    scroll-snap-align: start;
    width: 95%;
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
    font-family: 'pyrmont_brewery';
    width: 80%;
    opacity: 0.96;
    position: relative;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 30px;
    border-right-width: 30px;
    transition-duration: 0s;
    border-color: rgb(189, 189, 189);;
}

.Story {
    scroll-snap-align: start;
    width: 95%;
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
    opacity: 0.96;
    width: 80%;
    position: relative;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 30px;
    border-right-width: 30px;
    transition-duration: 0s;
    border-color: rgb(189, 189, 189);;
}

.Loading {
    width: 95%;
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
    font-family: 'pyrmont_brewery';
    width: 80%;
    white-space: wrap;
    line-height: 1.25;
    justify-content: left;
    align-items: left;
    position: relative;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 30px;
    border-right-width: 30px;
    transition-duration: 0s;
    animation: SPECCY_FLASH_TAPE_LOAD 5s infinite;
}

.App {
    text-align: left;
    font-family: 'pyrmont_brewery';
    font-size: 1.3vh;
    padding: 0px 5px 0px 5px;
    background-color: #404040;
    white-space: wrap;
    line-height: 1.25;
    justify-content: left;
    align-items: left;
    -webkit-tap-highlight-color: white;
    background-blend-mode: overlay;
    background-position-y: bottom;
    scroll-snap-type: y proximity;
    overflow-x: hidden;
    scroll-padding-top: 15vh;
    overflow-y: scroll;
}

.App-logo {
    animation: App-logo-spin infinite 2s normal;
    height: 50vmin;
    pointer-events: none;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

.App-header {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.Button {
    background-color: #604070;
    opacity: 0.96;
    display: flex;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 0.4vh 0.8vw 0.1vh 0.8vw;
}

.ButtonNo {
    background-color: #bf0000;
    color: #ffffff;
    opacity: 1;
    display: flex;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    align-items: center;
    position: relative;
    padding: 0.2vh 0.8vw 0.1vh 0.8vw;

}

.ButtonNo:hover {
    animation: SPECCY_FLASH_RED 0.7s infinite;
    transition-duration: 0s;
}

.ButtonYes {
    background-color: #00bf00;
    color: #ffffff;
    opacity: 1;
    display: flex;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.2vh 0.8vw 0.1vh 0.8vw;

}

.ButtonYes:hover {
    animation: SPECCY_FLASH_GREEN 0.7s infinite;
    transition-duration: 0s;
}

.ButtonKev {
    opacity: 1;
    display: flex;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.4vh 0.8vw 0.1vh 0.8vw;

}

.ButtonKev:hover {
    animation: SPECCY_FLASH_BLUE 0.7s infinite;
    transition-duration: 0s;
}

.Beer {
    scroll-snap-align: start;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    background-size: cover;
    justify-content: center;
    opacity: 0.9;
    align-items: center;
    width: 90%;
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.BeerSnap {
    display: flex;
    background-color: rgba(190, 190, 190, 1);
    width: 50%;
    background-size: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: grabbing;
    justify-content: left;
    position: relative;
    left: 0;
    top: 0;
}

.OtherDesc {
    display: flex;
    width: 80%;
    text-align: left;
    vertical-align: middle;
    justify-content: right;
    align-items: flex-end;
    font-weight: lighter;
    position: relative;
}

.BeerDesc {
    display: flex;
    color: #00ffff;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    justify-content: right;
    align-items: flex-end;
    padding-left: 0px;
    font-weight: lighter;
    position: relative;
}

.BeerTitle {
    display: inline;
    color: #ffffff;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    justify-content: right;
    align-items: flex-end;
    padding-left: 20px;
    font-weight: lighter;
    position: relative;
}

.BeerABV {
    display: inline;
    color: #ffff00;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    justify-content: right;
    align-items: flex-end;
    padding-left: 26px;
    font-weight: lighter;
    position: relative;
}

.Info {
    scroll-snap-align: start;
    display: flex;
    background-size: cover;
    justify-content: center;
    opacity: 0.9;
    align-items: center;
    width: 90%;
    position: relative;
    padding: 5px 5px 5px 5px;
}


.App-link {
    background-color: #00ff00;
    color: #000000;
    text-decoration-line: none;
    text-align: left;
    padding: 0.6vh 0.2vw 0.7vh 0.2vw;
}

.App-link:hover {
    background-color: #ffff00;
    color: #000000;
    text-decoration-line: none;
    text-align: left;
    padding: 0.6vh 0.2vw 0.7vh 0.2vw;
    animation: SPECCY_FLASH_GREEN 0.7s infinite;
    transition-duration: 0s;
}

.App-link2 {
    text-decoration-line: none;
    text-decoration: none;
    color: #000000;
}

.App-link3 {
    color: blue;
}

.Beer-link:hover {
    background-color: #ffff00;
    color: #000000;
    opacity: 1;
    text-decoration-line: none;
    text-align: left;
    animation: SPECCY_FLASH_GREEN 0.7s infinite;
    transition-duration: 0s;
}

.Beer-link {
    position: sticky;
    color: rgba(0,0,0,0);
    opacity: 1;
    height: 200px;
    width: 98%;
    padding: 0.4vh 0.8vw 0.1vh 0.8vw;
    text-decoration-line: none;
}

.YourBeer-link {
    color: #00ff00;
    text-decoration-line: none;
    text-align: left;
    animation: blinker 0.6s linear infinite;
}

.YourBeerDesc {
    display: flex;
    width: 70%;
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
    justify-content: right;
    align-items: flex-end;
    position: relative;
}

.Cheers {
    width: 30%;
    display: block;
    opacity: 1;
    alignment: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.BuyThisBeer {
    width: 60%;
    position: relative;
}

.Sensisble {
    font-family: Arial;
    font-size: medium;
    position: relative;
}

@keyframes blinker {
    50% {
        opacity: 0.7;
    }
}

@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.speccy_flash_black {
    display: inline;
    animation: SPECCY_FLASH_BLACK 0.7s infinite;
    padding: 0.3vh 0.0vw 0.1vh 0.2vw;
    transition-duration: 0s;
}

@-webkit-keyframes SPECCY_FLASH_BLACK {
    0%, 49% {
        background-color: rgb(0, 0, 0);
        color: rgb(189, 189, 189);
        animation-timing-function: steps(1, end);
    }
    50%, 100% {
        background-color: rgb(189, 189, 189);
        color: rgb(0, 0, 0);
        animation-timing-function: steps(1, end);
    }
}

@-webkit-keyframes SPECCY_FLASH_GREEN {
    0%, 49% {
        background-color: rgb(0, 255, 0);
        color: rgb(0, 0, 0);
        animation-timing-function: steps(1, end);
    }
    50%, 100% {
        background-color: rgb(0, 128, 0);
        color: rgb(255, 255, 255);
        animation-timing-function: steps(1, end);
    }
}

@-webkit-keyframes SPECCY_FLASH_RED {
    0%, 49% {
        background-color: rgb(255, 0, 0);
        color: rgb(0, 0, 0);
        animation-timing-function: steps(1, end);
    }
    50%, 100% {
        background-color: rgb(128, 0, 0);
        color: rgb(255, 255, 255);
        animation-timing-function: steps(1, end);
    }
}

@-webkit-keyframes SPECCY_FLASH_BLUE {
    0%, 49% {
        background-color: rgb(0, 255, 255);
        color: rgb(0, 0, 0);
        animation-timing-function: steps(1, end);
    }
    50%, 100% {
        background-color: rgb(0, 128, 128);
        color: rgb(255, 255, 255);
        animation-timing-function: steps(1, end);
    }
}

@-webkit-keyframes SPECCY_FLASH_WHITE {
    0%, 49% {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        animation-timing-function: steps(1, end);
    }
    50%, 100% {
        background-color: rgb(189, 189, 189);
        color: rgb(0, 0, 0);
        animation-timing-function: steps(1, end);
    }
}

@-webkit-keyframes SPECCY_FLASH_TAPE_LOAD {
    0%, 60% {
        border-color: #bf0000;
        animation-timing-function: steps(1, end);
    }
    60%, 80% {
        border-color: #00bdbe;
        animation-timing-function: steps(1, end);
    }
    80%, 100% {
        border-color: rgb(189, 189, 189);
        animation-timing-function: steps(1, end);
    }
}

.LeftStringSpin {
    width: 100%;
    margin: 0 auto;
    opacity: 1.0;
    background-color: red;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    display: inline-flex;
    animation: LeftStringSpin 14s steps(60, start) infinite;
    animation-play-state: running;
    padding: 20px 20px 20px 20px;
}

.StringSpin {
    width: 150%;
    margin-left: -10vw;
    opacity: 1.0;
    background-color: red;
    color: white;
}

@keyframes LeftStringSpin {
    0% {
        transform: translate(0%, 0);
    }
    50% {
        transform: translate(-100%, 0);
    }
    50.001% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

.BeerMats {
    margin: auto;
    display: block;
    opacity: 1;
    height: 90%;
    width: 90%;
}
