html {
  background-color: #241b0c;
}

.App {
  text-align: center;
  text-shadow: 2px 2px rgba(10, 10, 10, 0.5);
  padding: 0px 10px 0px 10px;
  background-color: #241b0c;
}

.App-logo {
  animation: App-logo-spin infinite 2s normal;
  height: 40vmin;
  pointer-events: none;
  padding: 0px 0px 0px 0px;
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  background-color: #604070;
  opacity: 0.9;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 10px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 20px 20px 20px 20px;
}

.Beer {
  background-color: rgba(40,40,40,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 2px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 20px 20px 0px 20px;
}

.BeerSnap {
  display: flex;
  width: 30%;
  cursor: pointer;
  justify-content: left;
  vertical-align: middle;
  align-items: flex-start;
  position:relative;
}

.BeerDesc {
  display: flex;
  width: 70%;
  text-align: left;
  vertical-align: middle;
  padding-left: 20px;
  justify-content: right;
  align-items: flex-end;
  position:relative;
}

.App-link {
  color: #ffff99;
  text-decoration-line: none;
  text-align: left;
}

.Beer-link {
  color: #99ff99;
  text-decoration-line: none;
  text-align: left;
}

.YourBeer-link {
  color: #66ff66;
  text-decoration-line: none;
  text-align: left;
  font-weight: bolder;
}

.YourBeerDesc {
  display: flex;
  width: 70%;
  text-align: left;
  vertical-align: middle;
  padding-left: 20px;
  justify-content: right;
  align-items: flex-end;
  position:relative;
  font-style: italic;
}

.Cheers {
  width: 140%;
  position:relative;
}


@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
