.App {
  text-align: center;
  padding: 15px 15px 15px 15px;
  background-color: #282c34;
  background-image: url("/possums_in_pyrmont.jpg");
}

.App-logo {
  animation: App-logo-spin infinite 3s normal;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffaa;
  text-decoration-line: none;
  text-align: left;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
